body {
background-image: url('../img/congruent_pentagon/congruent_pentagon.png');
}

div.shadow {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  opacity: 0.9;
  box-shadow: 5px 5px 5px 5px #888888;
}

h2:hover {
  color: #888888;
}

h4:hover {
  color: #888888;
}

@media screen and (max-width:480px)
  {
    .profile-pic {
      display: none;
    }

    .personal-profile {
      display: none;
    }

    .key-skills {
      display: none;
    }

    .references {
      display: none;
    }
  }
